.clients {
  @extend %section;
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients__list {
  @extend %reset-list;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.client__link {
  @extend %reset-link;
  display: flex;
  width: 170px;
  height: 92px;
  text-align: center;
  justify-content: center;
  color: var(--links-txt-cl);
  background-color: var(--btn-txt-cl);
  border: 1px solid var(--links-txt-cl);
  border-radius: 4px;
  transition: color var(--animation), background-color var(--animation),
    border-color var(--animation);

    &:hover,
    &:focus {
  color: var(--accent-txt-cl);
  background-color: var(--btn-txt-cl);
  border-color: var(--accent-txt-cl);
  transition: var(--animation);
}
}

.client__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  margin: 16px 32px;
}
