.clients {
  @extend %section;
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;

  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.clients__list {
  @extend %reset-list;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.client__link {
  @extend %reset-link;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width:480px) {
      width: 210px;
      height: 92px;
    }
      margin: 0;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      color: #afb1b8;
    
      transition: border 250ms var(--animation), color 250ms var(--animation);
    
      &:hover,
      &:focus {
        border-color: var(--accent-txt-cl);
        cursor: pointer;
        color: var(--accent-txt-cl);
      }
    
      & .clients__icon {
        fill: currentColor;
      }
      @media screen and (min-width: 768px) {
        width: 226px;
      }
      @media screen and (min-width: 1200px) {
        width: 170px;
      }
  }


.client__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  margin: 16px 32px;
}
