.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);

  @media screen and (min-width: 480px) {
    display: flex;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
    padding-top: 0;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__list {
  @extend %reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-logo-link {
  @extend %reset-link;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--btn-txt-cl);
  padding-bottom: 20px;
}

.footer-logo-accent {
  color: var(--accent-txt-cl);

  @media screen and (min-width: 480px) {
    text-align: center;
  }
}

.footer__item {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer__link {
  @extend %reset-link;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--btn-txt-cl);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.footer__mail,
.footer__phone {
  @extend %reset-link;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
  margin: 60px 0;
  @media screen and (min-width: 768px) {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
  }
}

.footer__left {
  width: 231px;
  margin-right: 70px;

  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-right-list {
  @extend %reset-list;
  display: flex;
  align-items: center;
  justify-content: normal;
  align-items: baseline;
  gap: 10px;

  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
  }
}

.socials-footer-link {
  @extend %reset-link;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: color var(--animation), background-color var(--animation);

  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &:hover,
  &:focus {
    color: var(--btn-txt-cl);
    background-color: var(--accent-txt-cl);
  }
}

.footer__icon {
  fill: currentColor;
  transition: fill var(--animation);
}

.footer__title {
  color: #fff;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
