/**
  |============================
  | block 4
  |============================
*/

.header {
  border: 1px solid #ececec;

  @media screen and (min-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
}



.header__container {
  display: flex;
  align-items: center;
  color: var(--main-txt-cl);
  
}

.header__logo {
  @extend %reset-link;
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;

  .header__logo-acent {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) {
    margin-right: 84px;
  }
}
