.contacts {
  @extend %reset-list;
  align-items: center;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-right: 0;
    font-size: 14px;
    line-height: 1.1428571429;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.contacts__mail {
  margin-right: 50px;

  @media screen and (min-width: 768px) {
    margin-right: 0;
    display: inline-flex;
    align-items: center;
  }
}

.contacts__phone,
.contacts__mail {
  @extend %reset-link;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--contacts-txt-cl);
  transition: color var(--animation);

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}
