.container-footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    gap: 12px;
  }
}


.footer-label {
  display: flex;
  flex-direction: column;

  @media screen and (min-width:768px) {
    display: flex;
    margin-top: 60px;
    align-items: center;
  }
}
.footer__text {
  display: flex;
  color: var(--btn-txt-cl);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width:480px) {
    display: flex;
    justify-content: center;
    
  }
}

.footer__input {
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;

  color: var(--btn-txt-cl);

  @media screen and (min-width: 480px) {
    width: 358px;
  }
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
